<h3 class="first">Remote torrents</h3>
<p-growl [value]="msgs"></p-growl>
<p-dataTable [value]="torrents" resizableColumns="true" expandableRows="true" #dt>
    <p-column expander="true" styleClass="col-expander">
        <template pTemplate="header">
            <button pButton type="button" (click)="refreshTable()" icon="fa-refresh"></button>
        </template>
    </p-column>
    <p-column field="name" header="Name" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
    <p-column field="content_type" header="Content" [sortable]="true" styleClass="col-content-type" [filter]="true" filterMatchMode="equals">
        <template pTemplate="filter" let-col>
            <p-dropdown [options]="content_type" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
        </template>
    </p-column>
    <p-column field="ratio" header="Ratio" styleClass="col-ratio" [sortable]="true">
        <template let-torrent="rowData" pTemplate="body">
            {{torrent.ratio|number:'1.1-1'}}
        </template>
    </p-column>
    <p-column field="dir" header="Base dir" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
    <p-column field="finished" header="Loaded" styleClass="col-finished" [sortable]="true"></p-column>
    <p-column styleClass="col-buttons">
        <template let-torrent="rowData" pTemplate="body">
            <button pButton *ngIf="(torrent.local==null) && torrent.finished" type="button" (click)="downloadTorrent(torrent)" icon="fa-cloud-download"></button>
            <button pButton *ngIf="!torrent.finished" type="text" icon="fa-battery-half" [disabled]="true" label="Loading"></button>
            <button pButton *ngIf="(torrent.local!=null) && (torrent.local.length==0)" type="text" icon="fa-check" [disabled]="true" label="Finished"></button>
            <button pButton *ngIf="(torrent.local!=null) && (torrent.local.length!=0)" type="text" icon="fa-exchange" [disabled]="true" label="Copied"></button>
        </template>
    </p-column>
    <template let-torrent pTemplate="rowexpansion">
        <div class="ui-grid ui-grid-responsive ui-fluid">
            <div class="ui-grid-row">
                <div class="ui-grid-col-1"></div>
                <div class="ui-grid-col-4">
                    <p-dataTable [value]="torrent.files">
                        <p-column field="file" header="Имя"></p-column>
                    </p-dataTable>
                </div>
            </div>
        </div>
    </template>
</p-dataTable>
