<div class="panel panel-default">
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <span class="navbar-brand">Remote storage:</span>
    </div>
    <div class="container-fluid">
      <div class="collapse navbar-collapse navbar-right">
          <button type="button" class="btn-form btn btn-default navbar-btn" url="{% url 'manage:form_remote_storage' %}">Add</button>
      </div>
    </div>
  </nav>

  <table class="table">
  <tr>
    <th>Path</th>
    <th>Actions</th>
  </tr>
  {% for it in items %}
  <tr>
    <td>{{ it.path }}</td>
    <td>
      <div class="container-fluid btn-group">
        <button type="button" class="btn-form btn btn-default btn-xs" url="{% url 'manage:form_remote_storage' it.id %}"><span class="glyphicon glyphicon-pencil"></span></button>
        <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"></span></button>
      </div>
    </td>
  </tr>
  {% endfor %}
  </table>
</div>
<div class="modal fade" id="dlg" tabindex="-1" aria-hidden="true"></div>

<script type="text/javascript">
    $(".btn-form").click(function(e) {
        e.preventDefault();
        var url = $(this).attr('url');
        $("#dlg").load(url, function() {
            $(this).modal('show');
        });
        return false;
    });

    $(document).on('submit', '#id_form', function() {
        $.ajax({ 
            type: $(this).attr('method'), 
            url: this.action, 
            data: $(this).serialize(),
            context: this,
            success: function(data, status) {
                $("#dlg").html(data);
            }
        });
        return false;
    });
</script>