{% extends "manage/_base.html" %}
{% block title %}Films{% endblock %}
{% block container %}
<div class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Manage:</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="./">Films</a></li>
        <li><a href="../audiobook/">Audiobook</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="jumbotron">

<ul class="list-group">
  {% for it in items %}
  <li class="list-group-item">{{ it.name }}</li>
  {% endfor %}
</ul>

</div>
{% endblock %}