<div class="panel panel-default">
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <span class="navbar-brand">Local storage:</span>
    </div>
    <div class="container-fluid">
      <div class="collapse navbar-collapse navbar-right">
          <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#dialogAdd">Add</button>
      </div>
    </div>
  </nav>

  <table class="table">
  <tr>
    <th>Name</th>
    <th>Path</th>
    <th>Actions</th>
  </tr>
  {% for it in items %}
  <tr>
    <td>{{ it.name }}</td>
    <td>{{ it.path }}</td>
    <td>
      <div class="container-fluid btn-group">
        <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></button>
        <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"></span></button>
      </div>
    </td>
  </tr>
  {% endfor %}
  </table>
</div>

<div class="modal fade" id="dialogAdd" tabindex="-1" role="dialog" action="{% url 'manage:save_local_storage' %}" method="post" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add local storage</h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <span class="input-group-addon">Name</span>
          <input id="name" type="text" class="form-control" placeholder="Films">
        </div>        
        <div class="input-group" style="padding-top:20px;">
          <span class="input-group-addon">Path&nbsp;&nbsp;</span>
          <input id="path" type="text" class="form-control" placeholder="Films">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>