<h3 class="first">Remote torrents</h3>
<p-dataTable [value]="torrents" resizableColumns="true" expandableRows="true" selectionMode="single">
    <p-column expander="true" [style]="{'width':'30px'}"></p-column>
    <p-column field="name" header="Имя" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
    <p-column field="ratio" header="Коэффициент" [sortable]="true"></p-column>
    <p-column field="finished" header="Скачан" [sortable]="true"></p-column>
    <p-column field="dir" header="Базовая директория" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
    <template let-torrent pTemplate="rowexpansion">
        <div class="ui-grid ui-grid-responsive ui-fluid">
            <div class="ui-grid-row">
                <div class="ui-grid-col-1"></div>
                <div class="ui-grid-col-4">
                    <p-dataTable [value]="torrent.files" selectionMode="single">
                        <p-column field="file" header="Имя"></p-column>
                    </p-dataTable>
                </div>
            </div>
        </div>
    </template>
</p-dataTable>
