<h3 class="first">Local torrents</h3>
<p-growl [value]="msgs"></p-growl>
<p-confirmDialog width="425"></p-confirmDialog>
<p-dataTable [value]="torrents" resizableColumns="true" expandableRows="true" #dt>
    <p-column expander="true" styleClass="col-expander">
        <template pTemplate="header">
            <button pButton type="button" (click)="refreshTable()" icon="fa-refresh"></button>
        </template>
    </p-column>
    <p-column field="remote.name" header="Name" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
    <p-column field="remote.content_type" header="Content" [sortable]="true" [filter]="true" styleClass="col-content-type" filterMatchMode="equals">
        <template pTemplate="filter" let-col>
            <p-dropdown [options]="content_type" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
        </template>
    </p-column>
    <p-column field="remote.dir" header="Base dir" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
    <p-column styleClass="col-buttons">
        <template let-torrent="rowData" pTemplate="body">
            <button pButton *ngIf="(torrent.task_id!=null) && (torrent.task_id.length==0)" type="button" (click)="removeTorrent(torrent)" icon="fa-trash"></button>
            <button pButton *ngIf="(torrent.task_id!=null) && (torrent.task_id.length!=0)" type="text" icon="fa-exchange" [disabled]="true" label="Copied"></button>
        </template>
    </p-column>
    <template let-torrent pTemplate="rowexpansion">
        <div class="ui-grid ui-grid-responsive ui-fluid">
            <div class="ui-grid-row">
                <div class="ui-grid-col-1"></div>
                <div class="ui-grid-col-4">
                    <p-dataTable [value]="torrent.remote.files">
                        <p-column field="file" header="Имя"></p-column>
                    </p-dataTable>
                </div>
            </div>
        </div>
    </template>
</p-dataTable>
